<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/styles.css">
  <title>FCC Image Search Abstraction</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1 id="title" class="text-center">Image Search Abstraction</h1>
    </div>
    <div class="container">
      <div class="row text-center">
        <h2>Search:
          <input type="text">
        </h2>
        <h2>Count:
          <input type="text">
        </h2>
        <h2>Offset:
          <input type="text">
        </h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary">Search Image</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-primary">Recent Research</button>
      </div>
    </class>
  </div>
  <script src="public/javascript/search.js" charset="utf-8"></script>
</body>
</html>
